!!!html5
%html
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    %title ご注文は何のアニメですか？
    %link(rel='stylesheet' href='/css/bootstrap.min.css')
    %link(rel='shortcut icon' href='/img/favicon.ico')
    <link href="/css/sign.css" rel="stylesheet">
  %body
    %hr
    %div.container{:align => "center"}
      %p is order a anime?
    %hr
    %div.container{:align => "center"}
      %h2= @id + "が今まで呟いた作品"
      - (@cf_data).each do |unit|
        <img src="/image/#{unit[:product_id]}.jpg" class="img-rounded" width="170" height="235">
    %div.container{:align => "center"}
      %h2= @id + "にお薦めな作品"
      - (@prediction).each do |unit|
        - score = sprintf('%.2f', unit[:rate])
        - bar_score = unit[:rate].to_i * 10
        - bar_name = 'warning' if bar_score > 5
        - bar_name = 'info' if bar_score > 25
        - bar_name = 'success' if bar_score > 75
        <div style="float:left;">
        <img src="/image/#{unit[:product_id]}.jpg" class="img-rounded" width="170" height="235">
        <div class="progress"  style="width:170px">
        <div class="progress-bar progress-bar-#{bar_name}" role="progressbar" aria-valuenow="#{bar_score}" aria-valuemin="0" aria-valuemax="100" style="width:#{bar_score}%;color:#000000">
        Score:#{score}
        </div>
        </div>
        </div>
    %div.container{:align => "center"}
      %h2= @id + "にお薦めしない作品"
      - (@un_prediction).each do |unit|
        - score = sprintf('%.2f', unit[:rate])
        - bar_score = unit[:rate].to_i * 10
        - bar_score = bar_score * -1 if bar_score < 0
        - bar_name = 'danger'
        <div style="float:left;">
        <img src="/image/#{unit[:product_id]}.jpg" class="img-rounded" width="170" height="235">
        <div class="progress"  style="width:170px;">
        <div class="progress-bar progress-bar-#{bar_name}" role="progressbar" aria-valuenow="#{bar_score}" aria-valuemin="0" aria-valuemax="100" style="width:#{bar_score}%;color:#000000">
        Score:#{score}
        </div>
        </div>
        </div>

      <p style="clear:both;">
      %p 推薦対象：2015年秋期のアニメ作品
      %p 2015年10月~12月のアニメに関する呟きデータを元に、あなたにお薦めなアニメを推薦します